/* RESETS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
}

/* Style guide roots */

:root{
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
}

/* CSS Style guide */

html, body{
    overflow-x: hidden;
}

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--very-dark-cyan);
}

main, 
header, 
footer {
    max-width: 767.99px;
    width: 100%;
}

h1, 
h2, 
h3{
    font-family: 'Poppins', sans-serif;
}

/* Header logo & button */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    margin: 1.5rem;
    margin-bottom: 6rem;
}

header img{
    width: 30%;
}

header a{
    color: var(--pink);
    text-decoration: none;
    border: 1px solid var(--pink);
    padding: 0.3rem 1.2rem;
    border-radius: 50px;
    font-size: 0.8em;
    transition: all .4s;
}

/* top-section header, paragraph and button */

.top-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top-section-text{
    margin: 0 2rem;
    margin-bottom: 3rem;
}

.top-section-text h1{
    margin-bottom: 1.5rem;
}

.top-section-text p{
    font-size: 0.9em;
}

.top-section a{
    border: 1px solid var(--pink);
    background-color: var(--pink);
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 2rem;
    border-radius: 50px;
    margin-bottom: 6rem;
    transition: all .4s;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.178);
}

.top-section-stats{
    height: 380px;
}

/* top-section image and stats */


#screen-mockups{
    width: 80%;
    margin-bottom: 6rem;
}

.stats{
    margin-bottom: 6rem;
}

.stats img{
    width: 20%;
}

.stats h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 3.5em;
    text-align: left;
}

.stats p{
    color: grey;
    font-size: 0.9em;
}

/* Second, third and fourth section image header and paragraph */

.second-section, 
.third-section, 
.fourth-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.second-section img, 
.third-section img, 
.fourth-section img{
    width: 80%;
    margin-bottom: 4rem;
}

.second-section-text, 
.third-section-text, 
.fourth-section-text{
    margin: 0 2rem;
    margin-bottom: 3rem;
}

.second-section-text h2, 
.third-section-text h2, 
.fourth-section-text h2{
    margin-bottom: 1.5rem;
}

.second-section-text p, 
.third-section-text p, 
.fourth-section-text p{
    font-size: 0.86em;
}

.fourth-section{
    margin-bottom: 12rem;
}

/* Bottom section title and button */

.bottom-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 6rem;
}

.bottom-section h2{
    margin-bottom: 2.5rem;
}

.bottom-section a{
    border: 1px solid var(--pink);
    background-color: var(--pink);
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 2rem;
    border-radius: 50px;
    margin-bottom: 6rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.178);
    transition: all .4s;
}

/* Footer title, paragraph & subriscibe form */

footer{
    display: flex;
    flex-direction: column;
    background-color: var(--very-dark-cyan);
    color: white;
}

.newsletter-section{
    margin: 1.5rem;
    text-align: left;
    margin-bottom: 6rem;
}

.newsletter-section h2{
    font-size: 1.2em;
    font-weight: light;
    margin-bottom: 1.5rem;
}

.newsletter-section p{
    font-size: 0.95em;
    line-height: 24px;
    margin-bottom: 1.5rem;
}

.newsletter-section form{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.newsletter-section .email{
    height: 3rem;
    width: 100%;
    border-radius: 6px;
    border: none;
    margin-bottom: 1rem;
}

.newsletter-section .submit{
    width: 50%;
    height: 3rem;
    background-color: var(--pink);
    color: white;
    border-radius: 6px;
    border: none;
    font-size: 1em;
    font-weight: bold;
    transition: all .4s;
}

/* Contact section logo and paragraph */

.contact-section{
    margin: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#logo_white{
    width: 65%;
    margin-bottom: 1.5rem;
}

#lorem{
    font-size: 0.9em;
    line-height: 24px;
    margin-bottom: 2.5rem;
}

.contact-desc{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
    font-size: .9em;
}

/* Contact section socials links logo */

.socials-links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

/* attribution */

.attribution{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8em;
    margin-top: 3rem;
    margin-bottom: .5rem;
}

.attribution a{
    color: var(--pink);
    font-weight: bold;
    text-decoration: none;
}

/* Curved backgrounds and spacing */

.second-section{
    background-color: var(--very-pale-blue);
    padding-top: 5rem;
}

.curved-bg img{
    width: 100%;
    height: auto;
}

.third-section{
    margin-top: 6rem;
    margin-bottom: 4rem;
}

.fourth-section{
    margin-bottom: 0;
    padding-bottom: 2rem;
    background-color: var(--very-pale-blue);
}

.bottom-section{
    margin-top: 6rem;
}

/* Hover active states */

header a:hover {
    color: var(--light-pink);
    border: 1px solid var(--light-pink);
    box-shadow: 0 0 10px rgba(85, 85, 85, 0.103);
}

.top-section a:hover {
    border: 1px solid var(--light-pink);
    background-color: var(--light-pink);
}

.bottom-section a:hover {
    border: 1px solid var(--light-pink);
    background-color: var(--light-pink);
}

.newsletter-section .submit:hover {
    background-color: var(--light-pink);
    cursor: pointer;
}

/* Media query */

@media screen and (min-width: 768px) {
    main,
    header,
    footer {
        max-width: 100vw;
        width: 100%;
    }

    /* Header logo & button */

    header {
        width: 92%;
        margin: 3rem;
        margin-bottom: 10rem;
    }

    header img {
        max-width: 180px;
        width: 100%;
    }

    header a {
        font-size: 0.9em;
    }

    /* top-section header, paragraph and button */

    .top-section-text h1 {
        display: inline-block;
        font-size: 2.8em;
        width: 100%;
    }

    .top-section-text p {
        display: inline-block;
        font-size: 1.1em;
        width: 40%;
    }

    .top-section a {
        padding: 1.5rem 6rem;
        margin-bottom: 6rem;
    }

        /* top-section image and stats */
    
    
    #screen-mockups {
        width: 70%;
    }

    .top-section-stats{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30rem;
    }

    .stats {
        margin-bottom: 0;
    }

    .stats img {
        width: 20%;
    }

    .stats h2 {
        font-size: 4.5em;
    }

    .stats p {
        font-size: 1.2em;
    }

    /* Second, third and fourth section image header and paragraph */

    .second-section,
    .third-section,
    .fourth-section {
        flex-direction: row-reverse;
        text-align: left;
        padding: 1.5rem 5rem;
        gap: 2rem;
    }

    .third-section{
        flex-direction: row;
    }

    .second-section img,
    .third-section img,
    .fourth-section img {
        width: 40%;
        margin-bottom: 0;
        flex: 1;
    }

    .second-section-text,
    .third-section-text,
    .fourth-section-text {
        margin: 0 2rem;
        margin-bottom: 0;
        flex: 1;
    }

    .second-section-text h2,
    .third-section-text h2,
    .fourth-section-text h2 {
        font-size: 2.2em;
    }

    .second-section-text p,
    .third-section-text p,
    .fourth-section-text p {
        display: inline-block;
        width: 105%;
        font-size: 1em;
    }

    /* Bottom section title and button */

    .bottom-section {
        margin-bottom: 0;
        padding: 3rem 0;
    }

    .bottom-section h2 {
        font-size: 2.6em;
        margin-bottom: 2.5rem;
    }

    .bottom-section a {
        padding: 1.5rem 6rem;
    }

    /* Footer title, paragraph & subriscibe form */

    footer{
        padding-top: 6rem;
    }

    .footer-text{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 5rem;
        gap: 12rem;
    }

    .newsletter-section{
        margin: 0;
        text-align: left;
        margin-bottom: 0;
    }

    .newsletter-section h2 {
        font-size: 1.5em;
        line-height: 22px;
    }

    .newsletter-section p {
        display: inline-block;
        width: 65%;
        font-size: 1em;
        line-height: 24px;
        margin-bottom: 1.5rem;
    }

    .newsletter-section form {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }

    .newsletter-section .email {
        margin-bottom: 0;
    }

    /* Contact section logo and paragraph */

    .contact-section {
        margin: 0;
    }

    #logo_white {
        width: 50%;
        margin-bottom: 1.5rem;
    }

    #lorem {
        display: inline-block;
        width: 65%;
        font-size: 1em;
        line-height: 24px;
        margin-bottom: 1.5rem;
    }

    .attribution{
        font-size: .9em;
    }

    /* Replace curved bg */

    #top-mobile-1{
        content: url("assets/images/bg-section-top-desktop-1.svg");
        width: 100%;
        height: auto;
    }

    #bottom-mobile-1 {
        content: url("assets/images/bg-section-bottom-desktop-1.svg");
        width: 100%;
        height: auto;
    }

    #top-mobile-2 {
        content: url("assets/images/bg-section-top-desktop-2.svg");
        width: 100%;
        height: auto;
    }

    #bottom-mobile-2 {
        content: url("assets/images/bg-section-bottom-desktop-2.svg");
        width: 100%;
        height: auto;
    }

    #top-footer-curved{
        content: url("assets/images/bg-footer-top-desktop.svg");
        width: 100%;
        height: auto;
    }
}
